.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #212529;
  padding: 0 10%;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0 2%;
  }
}

.header img.logo {
  width: 150px;
}

@media only screen and (max-width: 600px) {
  .header img.logo {
    width: 100px;
  }
}

.header nav,
.header a {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header a {
  margin: 0 1rem;
  color: #6c757d;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header a {
    margin: 0 0.5rem;
  }
}

.header a:hover,
.header a.active {
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #484b4f;
  border: 1px solid #484b4f;
  border-radius: 4px;
  padding: 0.25rem 1.5rem;
}

@media only screen and (max-width: 600px) {
  .header button {
    padding: 0.15rem 0.5rem;
  }
}

.header button:hover {
  background-color: #8d9197;
  border-color: #8d9197;
}
